
/*Main Tags*/
body 
{
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #CCCCCC;
	background-image:url(../images/background.png);
	background-repeat:repeat-x;
}

*
{
    margin: 0 auto 0 auto;
    text-align:left;
}

ul {
    margin: 0;
    padding: 0;
}

/*Classes*/
.cuerpo_top
{
	background-image:url(../images/main_top.png);
	background-repeat:no-repeat;
	width:689px;
	height:23px;
}

.cuerpo_main
{
    background-image:url(../images/main_back.png);
    background-repeat:repeat-y;
    width:659px;
    padding-left:15px;
    padding-right:15px;
}

.cuerpo_bottom
{
    background-image:url(../images/main_bottom.png);
    background-repeat:no-repeat;
    width:689px;
    height:23px;
}

.enlace {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #a39da3;
	display:inline-block;
	color:#0a070a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.enlace:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.enlace:active {
	position:relative;
	top:1px;
}

.button-facebook {
    float: right;
}

.friends {
    width: 70%;
    height: 150px;
    border-style: inset;
    overflow: scroll;
}

.element-li1{
    background-color: #e8e7e7;
}
.element-li2{
    background-color: #f1f1f1;
}
.element-select {
    background-color: blue;
    color: white;
}

/*Identifiers*/

#contenido
{
  display: block; 
  height:auto;
  position: relative; 
  width: 960px;
}

#cabecera h1
{
    text-align:left;
    color:#FFFFFF;
    font-size:40px;
    left:14px;
    top:18px;
    margin: 20px;
}

#cuerpo
{
    display:block;
    float:left;
    width:689px;
    height:auto;
    padding-left:10px;
    padding-top:90px;
    padding-right:10px;
    padding-bottom:5px;
}

#pie_pagina 
{
    margin-top: 10%;
    display:inline;
    text-align:center;
    font-size:10px;
    text-decoration:none;
    color:gainsboro;
}

#lookfor-event {
    display: inline;
}

#elements li{
    color: blue;
    list-style: none;
}

#elements li a:hover {
    color: white;
    background-color: gray;
}

#elements li a {
    display: block;
    padding: 10px;
}

#button-facebook {
    cursor:pointer;
}