/* 
    Document   : mainpagecss
    Created on : 24-oct-2013, 13:45:31
    Author     : masterinftel22
    Description:
        Purpose of the stylesheet follows.
*/

/*MainPage.html*/

/*Main Tags*/
h1 {
    text-align:left;
    color:#FFFFFF;
    font-size:40px;
    left:14px;
    top:18px;
    margin: 20px;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 40px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FDFDFD;
	background: #CCCCCC;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
}

* {
    margin: 0 auto 0 auto;
    text-align:left;
}

/*Classes*/
.main-menu {
    text-align:  center;
    width: 100%;
    height: 70px;
    border-style: none;
}

.listVenues {
    color: black;
}

.venues {
    width: 93%;
    height: 181px;
    background-image:url(images/main_top.png);
    background-repeat:no-repeat;
    border-style: inset;
    overflow: scroll;
}

ul {
    margin: 0;
    padding: 0;
}

.element-li1 {
    background-color: #e8e7e7;
}

.element-li2 {
    background-color: #f1f1f1;
}

/*identifiers*/

#contenido {
    display: block; 
    height:auto;
    position: relative; 
    width: 960px;
}

#map3d {
    height: 500px; 
    width: 900px;
}

#deportes {
    margin-left: 15px;
    margin-top: 5px;
}

#ocio {
    margin-left: 30px;
    margin-top: 5px;
}

#hosteleria {
    margin-left: 40px;
    margin-top: 5px;
}

#elements li{
    color: blue;
    list-style: none;
}

#elements li a:hover {
    color: white;
    background-color: gray;
}

#elements li a {
    display: block;
    padding: 10px;
}

#img-loading {
    width: 56px;
    height: 21px;
    text-align: center;
}